.amazon{
    background-image: url(../icons/amazon.png);
    background-position: center;
    background-size: contain;
}
.apple-icon{
    background-image: url(../icons/apple-icon.png);
    background-position: center;
    background-size: contain;
}
.appstore{
    background-image: url(../icons/appstore.png);
    background-position: center;
    background-size: contain;
}
.books{
    background-image: url(../icons/books.png);
    background-position: center;
    background-size: contain;
}
.camera{
    background-image: url(../icons/camera.png);
    background-position: center;
    background-size: contain;
}
.clock{
    background-image: url(../icons/clock.png);
    background-position: center;
    background-size: contain;
}
.electronic-arts{
    background-image: url(../icons/electronic-arts.png);
    background-position: center;
    background-size: contain;
}
.firefox{
    background-image: url(../icons/firefox.png);
    background-position: center;
    background-size: contain;
}
.google-drive{
    background-image: url(../icons/google-drive.png);
    background-position: center;
    background-size: contain;
}
.healthcare{
    background-image: url(../icons/healthcare.png);
    background-position: center;
    background-size: contain;
}
.itunes{
    background-image: url(../icons/itunes.png);
    background-position: center;
    background-size: contain;
}
.messages{
    background-image: url(../icons/messages.png);
    background-position: center;
    background-size: contain;
}
.notes{
    background-image: url(../icons/notes.png);
    background-position: center;
    background-size: contain;
}
.photos{
    background-image: url(../icons/photos.png);
    background-position: center;
    background-size: contain;
}
.reminders{
    background-image: url(../icons/reminders.png);
    background-position: center;
    background-size: contain;
}
.safari{
    background-image: url(../icons/safari.png);
    background-position: center;
    background-size: contain;
}
.settings{
    background-image: url(../icons/settings.png);
    background-position: center;
    background-size: contain;
}
.stocks{
    background-image: url(../icons/stocks.png);
    background-position: center;
    background-size: contain;
}
.whatsapp{
    background-image: url(../icons/whatsapp.png);
    background-position: center;
    background-size: contain;
}
.word{
    background-image: url(../icons/word.png);
    background-position: center;
    background-size: contain;
}
.windows{
    background-image: url(../icons/windows.png);
    background-position: center;
    background-size: contain;
}
.skype{
    background-image: url(../icons/skype.png);
    background-position: center;
    background-size: contain;
}
.questions{
    background-image: url(../icons/questions.png);
    background-position: center;
    background-size: contain;
}
.twitter{
    background-image: url(../icons/twitter.png);
    background-position: center;
    background-size: contain;
}
.phone{
    background-image: url(../icons/phones.png);
    background-position: center;
    background-size: contain;
}
.myspace{
    background-image: url(../icons/myspace.png);
    background-position: center;
    background-size: contain;
}
.pandora{
    background-image: url(../icons/pandora.png);
    background-position: center;
    background-size: contain;
}
.calculator{
    background-image: url(../icons/calculator.png);
    background-position: center;
    background-size: contain;
}